[Unit]
Description=Minecraft Server ZFS snapshot

Requisite=minecraft-server.service
After=minecraft-server.service

[Service]
User=minecraft
Group=minecraft
type=oneshot

ExecStart=/srv/minecraft/bin/take-zfs-snapshot.sh
