[Unit]
Description=Minecraft Server

Wants=network.target
After=network.target

[Service]
User=minecraft
#Group=minecraft
Type=notify
NotifyAccess=all

ExecStart=/srv/minecraft/bin/start.sh
ExecStartPost=/srv/minecraft/bin/discord-w-timestamp.sh "Minecraft Server started."

ExecStop=/srv/minecraft/bin/stop.sh
ExecStopPost=/srv/minecraft/bin/discord-w-timestamp.sh "Minecraft Server stopped."

OOMPolicy=stop

[Install]
WantedBy=multi-user.target
