[Unit]
Description=Proxy service for socket-activated Minecraft Server.
BindsTo=minecraft-server.service
After=minecraft-server.service

[Service]
ExecStart=/lib/systemd/systemd-socket-proxyd --exit-idle-time=5m localhost:25566
