[Unit]
Description=Minecraft Server

Wants=network.target
After=network.target

[Service]
User=minecraft
Group=minecraft
Type=notify
NotifyAccess=all

ExecStart=/srv/minecraft/bin/start.sh

ExecStop=/srv/minecraft/bin/stop.sh

OOMPolicy=stop

[Install]
WantedBy=multi-user.target
