[Unit]
Description=Proxy service for socket-activated Minecraft Server.

[Service]
User=minecraft
Group=minecraft
ExecStartPre=/usr/bin/systemctl start minecraft-server.service
ExecStart=/lib/systemd/systemd-socket-proxyd --exit-idle-time=5m 127.0.0.1:25566
ExecStop=/usr/bin/systemctl stop minecraft-server.service
